# Streamlit UI
streamlit==1.49.1

# PyTorch
torch==2.8.0   # CPU version (GPU optional)

# HuggingFace Transformers
transformers
sentencepiece   # required for some transformer models

# File handling
pandas
openpyxl
python-docx>=0.8.12
PyPDF2

# Image handling
Pillow>=10.0.1  

# Logging & Rich display
rich
markdown-it-py
pygments
mdurl
